.result-wrapper {
    display: flex;
    justify-content: center;
    color: blue;
    margin-right: 300px;
    font-size: 40px;
    background-color: #f4f4f4;
    width: 100%;
    margin-top: 40px;
}