.result-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0c3c60;
    margin: 20px 50px;
    padding: 0px 20px;
    font-size: 20px;
    background-color: #f4f4f4;
    /* width: 100%; */
}