.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #ffffff;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-menu {
  width: 90%;
  height: 60px;
  background-color: rgb(12, 59, 95);
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  
}

.Logo-text-j {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font: 24px 'Open-Sans', sans-serif;
  line-height: 2.5;
}

.Logo-text-d {
  color: #7DCADA;
  text-transform: uppercase;
  letter-spacing: 2px;
  font: 24px 'Open-Sans', sans-serif;
  line-height: 2.5;
}

a.Header-link {
  color: #ffffff;
  text-decoration: none;
  font: 14px 'Open-Sans', sans-serif;
  line-height: 4;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

.MuiTypography-body1 {
  color: rgba(0, 0, 0, 0.54);
}

.Banner {
  width: 100%;
}

.Wrapper {
  display: flex;
  justify-content: space-around;
  margin: 5% 0;
}

.Block {
  background-color: rgb(12, 60, 96);
  width: 20%;
  padding: 2% 5%;
}

.Block > h3 {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font: 22px 'Open-Sans', sans-serif;
}

.Block > p {
  color: #ffffff;
  font: 18px 'Open-Sans', sans-serif;
}

.judges-wrapper {
  display: flex;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
